<h2>Hello <%= @user.username %>!</h2>

<a href="/new_deck">Create Deck</a>

<h3>All Decks</h3>
<table>
<tr>
	<th>Title</th>
	<th>Description</th>
	<th>Date Created</th>
	<th>Action</th>
</tr>
<% @decks.each do |d| %>
	<tr>
		<td><%= d.title %></td>
		<td><%= d.description %></td>
		<td><%= d.created_at %></td>
		<td><a href="">Add</a></td>
	</tr>
<% end %>
</table>